<div class="card">
    <!-- <img [src]="room.imageUrl" alt="{{ room.name }}" class="card-img-top" /> -->
    <div class="card-body">
        <h5 class="card-title">{{ room.number }}</h5>
        <p class="card-text">{{ room.type }}</p>
        <!-- <p class="card-text">{{ room.description }}</p> -->
        <!-- <p class="card-text">Price: ${{ room.price }}</p>
        <h6>Amenities:</h6>
        <ul>
            <li *ngFor="let amenity of room.amenities">{{ amenity }}</li>
        </ul> -->
        <button class="btn btn-primary">Book Now</button>
    </div>
</div>
